name: viz_workflow_BBBC001
steps:
    - filerenaming:
        plugin:
            name: "FileRenaming"
            manifest: "https://raw.githubusercontent.com/agerardin/polus-plugins/update/filerenaming_subpath/formats/file-renaming-plugin/plugin.json"
        params:
            inpDir:
                type: Path
                path: "656a026764eac817407aae95/viz_workflow_BBBC001__step__1__BbbcDownload/InpDirFileRenaming/BBBC/BBBC001/raw/Images/human_ht29_colon_cancer_1_images/"
            filePattern: ".*_{row:c}{col:dd}f{f:dd}d{channel:d}.tif"
            outFilePattern: "x{row:dd}_y{col:dd}_p{f:dd}_c{channel:d}.tif"
    - omeconverter:
        plugin:
            name: "OmeConverter"
            manifest: "https://raw.githubusercontent.com/PolusAI/polus-plugins/a2666916628ab8e7d04e87d866f9b7835a86ef55/formats/ome-converter-plugin/plugin.json"
        params:
            inpDir:
                type: Path
                link: FileRenaming.outDir
            filePattern: ".*.tif"
            fileExtension: ".ome.tif"
    - montage:
        plugin:
            name: "Montage"
            manifest: "https://raw.githubusercontent.com/PolusAI/polus-plugins/master/transforms/images/montage-plugin/plugin.json"
        params:
            inpDir:
                type: Path
                link: OmeConverter.outDir
            filePattern: "x00_y03_p{p:dd}_c0.ome.tif"
            layout: "p"
    - image_assembler:
        plugin:
            name: "ImageAssembler"
            manifest: "https://raw.githubusercontent.com/agerardin/polus-plugins/new/image-assembler-plugin-1.4.0-dev0/transforms/images/image-assembler-plugin/plugin.json"
        params:
            imgPath:
                type: Path
                link: OmeConverter.outDir
            stitchPath:
                type: Path
                link: Montage.outDir
    # - polus_precompute_slide_plugin:
    #     plugin:
    #         name: "PolusPrecomputeSlidePlugin"
    #         manifest: "https://raw.githubusercontent.com/agerardin/polus-plugins/update/precompute-slide/visualization/precompute-slide-plugin/plugin.json"
    #     params:
    #         inpDir:
    #             type: Path
    #             link: ImageAssembler.outDir
    #         pyramidType: "Zarr"
    #         imageType: "image"
    #         outDir:
    #             type: Path
    #             path: "out"
    - precompute_slide:
        plugin:
            name: "PrecomputeSlide"
            manifest: "https://raw.githubusercontent.com/agerardin/polus-plugins/update/precompute-slide-fp2/visualization/precompute-slide-plugin/plugin.json"
        params:
            inpDir:
                type: Path
                link: ImageAssembler.outDir
            pyramidType: "Zarr"
            imageType: "image"
            outDir:
                type: Path
                path: "out"
